<div class="container">
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Dono</th>
          <th>Cartela de Vacinação</th>
          <th>Veterinários Consultados</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ registration.name }}</td>
          <td>{{ registration.age }}</td>
          <td>{{ registration.owner}}</td>
          <td>{{ registration.cartelaVacinacao }}</td>
          <td>{{ registration.vets }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">Novo Cadastro</button>
    </div>
  </div>
  <br>
  <div class="regentry" *ngIf="showNew">
    <form (ngSubmit)="onSave()">
      <div class="form-group row">
        <label class="col-2 col-form-label">Nome</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.name" name="name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Idade</label>
        <div class="col-3 input-group">
          <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="regModel.dob" ngbDatepicker #dob="ngbDatepicker">
          <button class="input-group-addon" (click)="dob.toggle()" type="button">
            <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Dono</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.owner" name="owner">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Cartela</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.cartelaVacinacao" name="cartelaVacinacao">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Veterinários</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="regModel.vets" name="vets">
        </div>
      </div>
      <button type="submit" class="btn btn-success">{{submitType}}</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
